<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="header"><h1>Курс: Angular 10+ Базовые знания</h1></div>
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Журнал успеваемости студентов</a>
          <!-- <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
              <a mat-button class="waves-effect waves-light btn"
                >Новый студент</a
              >
            </li>
          </ul> -->
        </div>
      </nav>
      <table class="highlight">
        <thead>
          <tr>
            <th rowspan="2">
              Номер <br />
              порядковый
            </th>
            <th rowspan="2">Фамилия Имя</th>
            <th colspan="4">Дата урока</th>
            <th rowspan="2">
              Средний <br />
              балл
            </th>
            <th rowspan="2">
              Средний <br />
              балл (окр.)
            </th>
          </tr>
          <tr>
            <ng-container *ngFor="let lesson of lessons">
              <th>
                {{ lesson.date | date: "dd.MM.yyyy" }}
              </th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let grade of grades; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ grade.student.firstName }} {{ grade.student.lastName }}</td>
            <td class="align-center" *ngFor="let ingrade of grades[i].grades">
              {{ ingrade | gradeToNum }}
            </td>
            <td class="align-center">
              {{ grades[i].grades | studentsGradesAverage | number:'1.2-2'}}
            </td>
            <td class="align-center">
              {{ grades[i].grades | studentsGradesAverage | number: '1.0-0'}}
            </td>
            <td>
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>Edit grade</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
              <!-- <a mat-button class="waves-effect waves-light btn"
                ><i class="material-icons left">edit</i></a
              >
              <a href="" class="waves-effect waves-light btn btn-red"
                ><i class="material-icons left">delete_forever</i></a
              > -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
