
<div>
  <div>
    <div>
      <div><h1>Курс: Angular 10+ Базовые знания</h1></div>
      <nav>
        <div>
          <h4>Журнал успеваемости студентов</h4>
        </div>
      </nav>
      <!-- <form [formGroup]="gradeSendForm">
        <div class="col s3"><input type="text" formControlName="grade"/></div>
        <div class="button-row">
          <button type="button" (click)="sendGradeForm()">Сохранить</button>
        </div>
      </form> -->
      <table class="highlight">
        <thead>
          <tr>
            <th rowspan="2">
              Номер <br />
              порядковый
            </th>
            <th rowspan="2">Фамилия Имя</th>
            <th colspan="4">Дата урока</th>
            <th rowspan="2">
              Средний <br />
              балл
            </th>
            <th rowspan="2">
              Средний <br />
              балл (окр.)
            </th>
          </tr>
          <tr>
            <ng-container *ngFor="let lesson of lessons; let j = index">
              <th>
                {{ lesson.date | date: "dd.MM.yyyy" }}
              </th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let grade of grades; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ grade.student.firstName }} {{ grade.student.lastName }}</td>
            <td class="align-center" *ngFor="let ingrade of grades[i].grades; let j = index">
               {{ ingrade | gradeToNum }}
               <form  >
               <select name="select" [value]="ingrade | gradeToNum" (change)="gradeQq($event.target.value, i, j, ingrade)">
                 <option value="1">1</option>
                 <option value="2">2</option>
                 <option value="3">3</option>
                 <option value="4">4</option>
                 <option value="5">5</option>
                 <option value="6">6</option>
               </select></form>
            </td>
            <td class="align-center">
              {{ grades[i].grades | studentsGradesAverage}}
            </td>
            <td class="align-center">
              {{ grades[i].grades | studentsGradesAverage | number: "1.0-0" }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
