<hr>
<hr>
<div>
    <div>
      <div>
        <div><h1>Список студентов</h1></div>

        <div>
          <form [formGroup]="studentSendForm">
            <div><input type="text" formControlName="firstName" /></div>
            <div><input type="text" formControlName="firstName" /></div>
            <div><input type="text" formControlName="lastName"/></div>
            <div>
              <button type="button" (click)="sendStudentForm()">Сохранить</button>
            </div>
          </form>
        </div>
  
        <table>
          <thead>
            <tr>
              <th rowspan="2">Номер</th>
              <th>Имя</th>
              <th>Фамилия</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of students; let i = index">
              <td style="width: 1em">{{ i + 1 }}</td>
              <td>{{ student.firstName }}</td>
              <td>{{ student.lastName }}</td>
              <td>

                  <input type="button" value="Удалить" (click)="deleteStudent(i)" />

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  