<hr>
<hr>
<div>
  <div>
    <div>
      <div><h1>Список уроков</h1></div>
      <div style="border: 2px solid gray; margin-top: 5px">
        <form [formGroup]="lessonSendForm">
          <div class="col s1"><input type="number" formControlName="id" /></div>
          <div class="col s2"><input type="date" formControlName="date" /></div>
          <div class="col s4"><input type="text" formControlName="theme"/></div>
          <div class="col s3"><input type="text" formControlName="homework"/></div>
          <div class="col s2"><input type="text" formControlName="note"/></div>
          <div class="button-row">
            <button type="button" (click)="sendLessonForm()">Сохранить</button>
          </div>
        </form>
      </div>

      <table class="highlight">
        <thead>
          <tr>
            <th rowspan="2">Номер</th>
            <th>Дата урока</th>
            <th>Тема урока</th>
            <th>Домашнее задание</th>
            <th>Примечание</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lesson of lessons; let i = index">
            
            <td style="width: 1em">{{ i + 1 }}</td>
            <td>{{ lesson.date | date: "dd.MM.yyyy" }}</td>
            <td>{{ lesson.theme }}</td>
            <td>{{ lesson.homework }}</td>
            <td>{{ lesson.note }}</td>
          
            <td>
              <!-- <input type="button" value="Изменить" (click)="editLesson(lesson.id)" /> -->
              <input type="button" value="Удалить" (click)="deleteLesson(i)" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
